'
<template>
  <div class="main-content">
    <page-title title="Tạo mới một Backlog Item" />

    <div class="create-board">
      <div class="row">
        <div class="col-xs-12 input-group">
          <label>Tiêu đề</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-xs-12 input-group">
          <label>Mô tả tác vụ</label>
          <textarea type="text" class="form-control"></textarea>
        </div>
        <div class="col-xs-12 input-group">
          <label>Tên Project</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-xs-6 input-group">
          <label>Ngày giờ bắt đầu</label>
          <datetime type="datetime"></datetime>
        </div>
        <div class="col-xs-6 input-group">
          <label>Deadline</label>
          <datetime type="datetime"></datetime>
        </div>
        <div class="col-xs-6 input-group">
          <label>Trang thái</label>
          <select class="input-group input-select">
            <option></option>
          </select>
        </div>
        <div class="col-xs-6 input-group">
          <label>Độ ưu tiên</label>
          <select class="input-group input-select">
            <option></option>
          </select>
        </div>
        <div class="col-xs-6 input-group">
          <label>Giai đoạn</label>
          <select class="input-group input-select">
            <option></option>
          </select>
        </div>
        <div class="col-xs-6 input-group">
          <label>Thành viên đảm nhận</label>
          <select class="input-group input-select">
            <option value="" disabled>Thành viên</option>
            <option></option>
          </select>
        </div>
        <div class="col-xs-12 btn-submit-create">
          <button class="btn btn-success" type="submit">
            Tạo mới một BackLog
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "edit-task",
};
</script>

<style></style>
'
