'
<template>
  <div>
    <home-header />

    <main-header />

    <main class="container">
      <div class="row">
        <div class="col-md-9">
          <router-view></router-view>
        </div>
        <div class="col-md-3">
          <side-bar />
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import HomeHeader from "../components/HomeHeader.vue";
import MainHeader from "../components/MainHeader.vue";
import SideBar from "../components/SideBar.vue";
export default {
  name: "kanban-board",
  components: {
    HomeHeader,
    MainHeader,
    SideBar,
  },
};
</script>

<style></style>
