'
<template>
  <header>
    <div class="container">
      <ul>
        <li><router-link to="/">Trang Chủ</router-link></li>
        <li><router-link to="/create">Tạo Task</router-link></li>
      </ul>
      <ul class="right"></ul>
    </div>
  </header>
</template>

<script>
export default {
  name: "home-header",
};
</script>

<style></style>
'
