'
<template>
  <div class="side-bar">
    <div class="page-title">
      <span>Thành viên</span>
    </div>
    <!-- <ul class="list-members">
            <li v-for="email in getListEmailuser" v-bind:key="email">{{ email }}</li>
        </ul> -->
  </div>
</template>

<script>
export default {
  name: "side-bar",
};
</script>

<style></style>
'
