'
<template>
  <div class="backlogs-item">
    <div class="project"></div>
    <router-link
      to="/"
      tag="div"
      exactActiveClass=""
      activeClass=""
      class="title"
    ></router-link>
    <div class="due-date">Deadline: <span></span></div>
    <div class="phase">Giai đoạn: <span></span></div>
    <div class="assign">
      <button class="delete">Delete</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "task-item",
};
</script>

<style></style>
'
