* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555;
  overflow-x: hidden;
}
a,
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
ul {
  margin: 0;
}
header {
  padding: 3px 0;
  background-color: #3c5776;
}
header a {
  color: rgba(255, 255, 255, 0.8);
}
header ul {
  display: inline-block;
}
header ul li {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin-right: 10px;
}
header ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
header .right {
  float: right;
}
.main-header {
  background-color: #5c85b6;
  min-height: 100px;
}
.main-header .site-title {
  color: #fff;
}
main {
  position: relative;
}
main .col-md-3 {
  position: static;
}
.main-content {
  padding-top: 15px;
  padding-bottom: 100px;
}
.side-bar {
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;
  background-color: #dfdfdf;
  top: 0;
  left: 75%;
  transform: translateX(15px);
  right: 30px;
  bottom: 0;
}
.side-bar::after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  background-color: #dfdfdf;
  position: absolute;
}
.page-title {
  font-weight: 700;
  font-size: 18px;
}
.list-members {
  padding-top: 20px;
  list-style-type: none;
}
.list-members li {
  color: #005c99;
}
.list-members li:before {
  content: "-";
  padding-right: 5px;
}
.wrapper-board {
  border: 1px solid #ccc;
  padding: 0 15px;
  margin-top: 20px;
}
.wrapper-board .row {
  margin-left: -10px;
  margin-right: -10px;
}
.wrapper-board .item {
  width: 25%;
  padding: 10px;
  float: left;
}
.wrapper-board .col-title {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}
.backlogs-item {
  background-color: #fcffdb;
  border: 1px solid #eee;
  padding: 3px;
  font-size: 12px;
  margin-bottom: 20px;
}
.backlogs-item .project {
  border: 1px solid #eee;
  text-align: center;
  padding: 6px 0 2px 0;
}
.backlogs-item .title {
  font-size: 14px;
  font-weight: 700;
  color: #005c99;
  margin-top: 3px;
}
.backlogs-item .assign {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eee;
  color: #005c99;
}
.clearfix {
  clear: both;
}

.create-board {
  padding-right: 30px;
  padding-bottom: 100px;
}
.create-board span {
  font-size: 14px;
}
.create-board .input-group[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.input-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  line-height: 34px;
  height: 34px;
  width: 100%;
  padding: 0 12px;
}

.create-board .input-group:first-child {
  margin-top: 20px;
}
.btn-submit-create {
  margin-top: 20px;
}
.btn-submit-create button {
  min-width: 150px;
}
.create-new-item {
  padding-left: 20px;
}

/* Login */
#page-login,
#page-register {
  min-height: 600px;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(to right, rgb(75, 108, 183), rgb(24, 40, 72));
}
#page-login .navbar.navbar-default,
#page-register .navbar.navbar-default {
  display: none;
}
#page-transaction {
  padding-bottom: 100px;
}

.card-container.card {
  min-width: 320px;
  max-width: 350px;
  padding: 40px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  -ms-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12),
    0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  -o-box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12),
    0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44),
    inset 0 -1px 2px rgba(14, 41, 57, 0.15);
}

/*
* Card component
*/
.card {
  background-color: #f7f7f7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
* Form styles
*/

.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin,
.btn.btn-signup {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  position: relative;
  margin-top: 10px;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus,
.btn.btn-signup:hover,
.btn.btn-signup:active,
.btn.btn-signup:focus {
  background-color: #122b40;
  background-position: 0;
  outline: 0;
}

label.error {
  padding: 0 1px;
  color: red;
  margin-top: -7px;
  display: block;
  font-size: 12px;
}
.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}
.sending {
  font-size: 0 !important;
  pointer-events: none !important;
}
.sending .loader {
  display: block;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.95;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
